<mat-nav-list>
    <a mat-list-item>
        <span class="nav-caption">Jersey.ts</span>
    </a>
    <a mat-list-item routerLink="/addressing" (click)="onCloseSidenav()">
        <mat-icon>dns</mat-icon>
        <span class="nav-caption">Addressing</span>
    </a>
    <a mat-list-item routerLink="/sdlc" (click)="onCloseSidenav()">
        <mat-icon>group_work</mat-icon>
        <span class="nav-caption">SDLC</span>
    </a>
    <a mat-list-item (click)="onCloseSidenav()">
        <mat-icon>swap_horiz</mat-icon>
        <span class="nav-caption">Routing</span>
    </a>
</mat-nav-list>