mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    margin-left: 250px;
    margin-top: 64px;
}

@media only screen and (max-width: 959px) {
    main {
        margin-left: 0;
    }
  }